@import url(/blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(/blocks/section-title/_theme_dark/section-title_theme_dark.css);
@import url(/blocks/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(/blocks/table/table.css);
@import url(/blocks/table/_theme_dark/table_theme_dark.css);
@import url(/blocks/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(/blocks/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(/blocks/table/__text/_theme_dark/table__text_theme_dark.css);

.kaufman {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    background-color:  #1F1F1F;
}