@import url(cards/cards.css);
@import url(cards/__description/cards__description.css);
@import url(cards/__image/cards__image.css);
@import url(cards/__item/cards__item.css);
@import url(cards/__title/cards__title.css);
@import url(/blocks/section-title/section-title.css);
@import url(/blocks/section-subtitle/section-subtitle.css);

.technics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}